# Production compose policy
COMPOSE_PROJECT_NAME=vinicius_prod

POSTGRES_DB=vinicius_prod
POSTGRES_USER=vinicius_prod
POSTGRES_PASSWORD=change-me-prod

BACKEND_NODE_ENV=production
BACKEND_PORT=3000
FRONTEND_PORT=5173
